@import "normalize.scss";
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



html, body {
  background: #2f3437;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #f1f1f1;
  color: rgba(255, 255, 255, 0.9);
}

.wrapper,.banner-topo-wrapper {
  max-width: 1200px;
  width: 100%;
  display: block;
  padding: 40px;
  margin: auto;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 5px;
}

.description {
  padding: 4px;
  font-size: 16px;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);

}

.label-top {
  display: block;
}

.total-videos {
  position:  absolute;
  z-index: 2;
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  bottom: -75px;
  border-radius: 3px;
  &:hover {
    border-color: #3e4447;
    .text-total-videos {
      border-radius: 0px;
    }
  }
  transition: border-color 120ms ease-in 0s;
  .text-total-videos {
    width: 100%;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    background: darken(#3e4447,10%);
    display: block;
    height: 100%;
    text-align: center;
  }
  .content-total-videos {
    font-size: 60px;
    text-align: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
    text-overflow: ellipsis;
  }
}

.loading-video {
  display: inline-block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  > div {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    &:after {
      content: "";
      border-radius: 5px;
      z-index: 1;
      display: block;
      position: absolute;
      bottom: -40px;
      left: 0px;
      width: 120px;
      height: 30px;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.loading-video::after {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border-radius: 100%;
}

.loading-video::before {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}
body.carregando {
  .content-total-videos::after {
    width: 100%;
    height: 100%;
    background: #262a2c;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: "";
  }
  .ver-mais-videos  {
    font-size: 0px;
    background-image: url(../img/loader.gif);
  }
}

.adsense { 
  position: absolute;
  top: 20px;
  width: 500px;
  height: 150px;
  z-index: 2;
  width: 400px;
  max-width: 100%;
  right: 0;
}

.lista {
  display: block;
  width: 100%;
  clear: both;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
      align-content: center;
      border-top: 1px solid rgba(255,255,255,0.2);
}
.updated-at,.btn-enviar-video {
  transition: background 120ms ease-in 0s, color 120ms ease-in 0s;
  padding: 5px 10px;
  margin: 10px;
  margin-left: 0px;
  float: left;
  &:hover {
    background: rgb(71,76,80);
  }
  border-radius: 3px;
  height: 70px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.tag {
  padding: 4px 6px;
  background: #d1d1d1;
  color: #333;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}
.updated-at {
  line-height: 30px;
}
.btn-enviar-video {
  font-size: 14px;
  line-height: 28px;
  float: right;
}

.banner-topo {
  position: relative;
  width: 100%;
  background: transparent;
  height: 200px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);

  margin-bottom: 30px;
}
.banner-topo-background {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 100%;
  background-position: center center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.banner-topo-wrapper {
  height: 100%;
  position: relative;
  z-index: 2;
}
.sem-mais-paginas { 
  visibility: hidden;
}
.ver-mais-videos {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  color: rgba(255,255,255,0.9);
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bold;;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background 120ms ease-in 0s;
  &:hover {
    background-color: rgb(71,76,80);
  }
}

.oculto {
  display: none !important;
}

.video-icon {
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  // background: rgba(255, 255, 255, 0.1);
  // border-radius: 5px;
  // border-radius: 100%;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  display: flex;
  img {
    margin: auto;
    max-width: 60px;
    max-height: 60px;
  }
}
.comentarios { 
  display: block;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  iframe {
    width: 100% !important;
  }
}
.video-text {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  text-overflow: ellipsis;
  color: #fff;
  padding: 4px 10px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 24px;
  text-decoration: none;
  font-weight: bold;;
}

.bandeira {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 2px;
}

.video-date {
  display: block;
  position: absolute;
  bottom:10px;
  left: 100px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  font-weight: bold;;
  white-space: nowrap;
  margin-top: 5px;
  text-overflow: ellipsis;
  color: #fff;
  padding: 4px 10px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 24px;
  text-decoration: none;
}


.video-lista {
  display: inline-block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding-top: 100px;

  border-radius: 5px; 
  video,iframe {
    position: absolute;
    top: 0;
    background: black;
    border-radius: 5px;
  }
}
